.header {
  height: 50px;
  background-color: #1b427e;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
}

.header li {
  cursor: pointer;
}

.header .link {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

.header .link.active {
  color: red; /* Replace with the desired color for the active link */
}